#centroTrabalhe{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

form {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212); /* sombra ao redor do box */
}

.form-header h1::after { /* cria linnha embaixo do titulo */
    content: '';
    padding: 0 !important;
    display: block;
    width: 8rem;
    height: 0.3rem;
    background-color: #BC317D;
    margin: auto;
    position: absolute;
    border-radius: 10px;
    
} 

h1 {
    padding: 1.5rem;
}

.todosInputs { /* deixa um do lado do outro */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1% 0;
}

.inputBox { /* cria espaçamento */
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.inputBox input { /* personaliza os inputs */
    padding: 0.8rem 1.3rem;
    border: none;
    outline: 1px solid #00000017;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000031;
    transition: all ease 0.5s;
}

textarea {
    border-radius: 10px;
    box-shadow: 1px 1px 6px #00000031;
}

.inputBox input:hover { /* muda o fundo quando passa o mouse */
    background-color: #d4d4d40e;
}

.inputBox input:focus-visible { /* muda cor da borda quando clica */
    border-radius: 10px;
    outline: 1px solid #BC317D;
}

.inputBox label {
    font-size: 0.8rem;
    font-weight: bold;
}

#tituloGenero {
    font-size: 0.8rem;
    font-weight: bold;
}

textarea{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    transition: all ease 0.5s;
}

textarea:focus-visible{
    outline:  1px solid #BC317D;
}


.inputGenero label {
    font-weight: normal;
}

.botaoEnviar {
    padding: 5%;
    display: flex;
    width: 100%;
}

.botaoEnviar input {
    width: 100%;
    border: none;
    background-color: #BC317D;
    padding: 1%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: all ease 0.5s;
}

.botaoEnviar input:hover {
    background-color: #da539d;
    color: #BC317D;
}

@media (max-width: 700px) {
    #centroTrabalhe{
        width: 100%;
    }

    .inputBox input{ /* cria espaçamento */
        margin-top: 0.5rem;
    }
}